@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .scrollbar::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }

  .scrollbar::-webkit-scrollbar-track {
    border-radius: 10vh;
    background: #7e5f1800;
  }

  .scrollbar::-webkit-scrollbar-thumb {
    background: #1F1D2B;
    border-radius: 10vh;
    border: 1px solid #9889f0;
  }

  .scrollbar::-webkit-scrollbar-thumb:hover {
    background: #c0a0b9;
  }
}